# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Node
node_modules/
npm-debug.log*

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.suo
*.user

# Serve cache
.cache/
dist/
